block header
  header.header
    .container.header__container
      a(class='header__logo' href='http://rerooms.ru')
      .header__inner
        h1
          | Индивидуальный
          br
          | дизайн проект
          br
          | по фиксированной цене
        a(href="#order" class="btn-decor") заказать дизайн-проект
