block prices
  section.prices
    .container.prices__container
      .title.prices__title фиксированные цены
      .prices__list
        each val, index in $["PRICES"]
          - let url = "/upload/prices/"+(index+1)+".jpg"
          .prices__item.prices-item
            img(src=url)
            .prices-item__inner
              .prices-item__name
                = val.name
              .prices-item__price
                = val.price
                |
                | руб.#{val.perfloor ? '/этаж' : ''}
              a(href="#order" class="prices-item__btn") Заказать
