block steps
  section.steps
    .container.steps__container
      .title.steps__title Всего 12 дней и ваш дизайн-проект готов *
      .steps__footnote * приведен срок разработки дизайн-проекта квартиры-студии. Сроки разработки дизайн-проекта других помещений  приведены в договоре-оферте
      .steps__list
        each val, index in $["STEPS"]
          .steps-item
            .steps-item__num 0#{index+1}
            .steps-item__date
              = val.date
            .steps-item__name
              = val.name
            .steps-item__desc
              = val.desc
