include /components/form

block supervision
  section.supervision
    .container.supervision__container
      .title.supervision__title Авторский надзор
      .supervision__subtitle Мы так же предлагаем бесплатный авторский надзор за ходом ремонта

      +form('qwe')
