include /components/form

block vr
  section.vr
    .container.vr__container
      .title.vr__title VR-очки в подарок при<br /> заказе дизайн-проекта
      .vr__subtitle Посмотрите дизайн своей будущей квартиры в виртуальной<br /> реальности
      +form('vr')
