extends /includes/layout

block content
  //- include /components/header
  //- include /components/includes
  //- include /components/prices
  //- include /components/steps
  include /components/supervision
  include /components/arguments
  include /components/vr
  include /components/reviews


