media1279()
  @media (max-width: 1279px)
    {block}

media1023()
  @media (max-width: 1023px)
    {block}

media767()
  @media (max-width: 767px)
    {block}

retina()
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5)
    {block}

