@require 'other/media'
@require 'other/font'
@require 'other/vars'
@require 'other/form'

@require 'blocks/header'
@require 'blocks/includes'
@require 'blocks/prices'
@require 'blocks/steps'
@require 'blocks/supervision'
@require 'blocks/arguments'
@require 'blocks/vr'
@require 'blocks/reviews'
@require 'blocks/order'

*
  font-family 'RCR', sans-serif
  margin 0
  padding 0
  letter-spacing 0
  outline-width 0px !important
  outline-color none !important
  -webkit-appearance none
  color #000
  box-sizing border-box !important
  text-decoration-skip-ink none

  &:focus
    outline-style none


body
  position relative
  min-width 320px
  height 100%
  width 100%
  color #383c45
  background #fff

section
header
footer
  width 100%

  .container
    width 1240px
    padding-left 30px
    padding-right 30px
    margin 0 auto

+media1279()
  section
  header
  footer
    .container
      width 100%
      padding-left 40px
      padding-right 40px


+media1023()
  section
  header
  footer
    .container
      padding-left 35px
      padding-right 35px

+media767()
  section
  header
  footer
    .container
      min-width 320px
      padding-left 15px
      padding-right 15px

.center
  text-align center


.btn-decor
  height 64px;
  display inline-flex
  justify-content center
  align-items center
  text-align center
  border none
  background-color #ffdc17
  text-transform uppercase
  text-decoration none
  box-shadow 7px 7px 0px 0px #d3b612
  font 18px RCB
  letter-spacing: .03em;
  color #383c45
  cursor pointer

.title
  font: 44px/60px 'RCB'
  letter-spacing .008em
  text-transform uppercase
  text-align center
  color textColor

+media767()
  .title
    font: 24px/32px 'RCB'
