.arguments
  padding 160px 0 131px

  &__title
    margin-bottom 57px

  &__list
    display flex
    justify-content flex-start

.arguments-item
  padding 104px 90px 0 0
  background-repeat no-repeat
  background-position left top
  background-size 80px 73px

  &__title
    margin-bottom 24px
    font 32px 'RCB'
    color textColor
    text-transform uppercase

  &__desc
    margin-bottom 25px
    font 20px/28px 'RCR'
    color textColor

  &:nth-child(1)
    flex 400px 0 0
    background-image url('~@/img/arguments/1.svg')

  &:nth-child(2)
    flex 400px 0 0
    background-image url('~@/img/arguments/2.svg')

  &:nth-child(3)
    background-image url('~@/img/arguments/3.svg')

+media1279()
  .arguments
    padding 80px 0 56px

  .arguments-item
    padding 104px 65px 0 0

    &__title
      margin-bottom 16px

    &__desc
      margin-bottom 25px
      font 24px/32px 'RCR'

    &:nth-child(1)
      flex 323px 0 0

    &:nth-child(2)
      flex 323px 0 0
