.header
  height 768px
  background-image url('/upload/header-bg.jpg')
  background-size cover

  &__container
    padding-top 37px

  &__logo
    display inline-block
    width 149px
    height 30px
    background-image url('~@/img/logo.svg')
    background-size cover

  &__inner
    padding 159px 0 0 199px

  h1
    margin-bottom 40px
    font: 44px/60px 'RCB'
    letter-spacing .008em
    text-transform uppercase
    color #fff

  a
    padding 0 40px

+media1279()
  .header
    &__container
      padding-left 42px

    &__inner
      padding 166px 0 0 85px

+media1023()
  .header
    &__inner
      padding 169px 0 0 46px
