.includes
  padding 160px 0 144px

  &__title
    margin-bottom 57px

  &__list
    display flex
    justify-content space-between

.includes-item
  padding 104px 90px 0 0
  background-repeat no-repeat
  background-position left top
  background-size 80px 73px

  &__title
    margin-bottom 24px
    font 32px 'RCB'
    color textColor
    text-transform uppercase

  &__desc
    margin-bottom 25px
    font 16px/24px 'RCR'
    color #8d9aa8

  &:nth-child(1) {
    background-image url('~@/img/includes/inc1.svg')
  }

  &:nth-child(2) {
    background-image url('~@/img/includes/inc2.svg')
  }

  &:nth-child(3) {
    background-image url('~@/img/includes/inc3.svg')
  }

.includes-sublist__item
  margin-bottom 16px
  font 20px 'RCR'
  color textColor

  span
    margin-right 4px
    font 20px 'RCR'
    color #8d9aa8
