.order
  height 788px
  padding 80px 0 144px
  background-image url('/upload/order-bg.jpg')
  background-size cover
  background-repeat no-repeat

  &__container
    .form
      margin 0 auto

+media1279()
  .order
    height 752px
    padding 71px 0 0

+media1023()
  .order
    height 762px
    padding 76px 0 0

+media767()
  .order
    height auto
    padding 42px 20px 43px
