.supervision
  height 935px
  padding 80px 0 144px
  background-image url('/upload/supervision-bg.jpg')
  background-size cover
  background-repeat no-repeat

  &__container
    padding-left 799px !important

  &__title
    margin-bottom 12px
    letter-spacing 0 !important

  &__subtitle
    margin-bottom 31px
    font 18px/24px 'RCR'
    color rgba(56, 60, 69, 0.7)

+media1279()
  .supervision
    padding 80px 0 144px

    &__container
      padding-left calc(100% - 445px) !important
