.vr
  height 995px
  padding 80px 0 0
  background-image url('/upload/vr-bg.jpg')
  background-size cover
  background-repeat no-repeat

  &__container


  &__title
    margin-bottom 12px
    letter-spacing 0 !important
    text-align left !important

  &__subtitle
    margin-bottom 31px
    font 18px/24px 'RCR'
    color rgba(56, 60, 69, 0.7)


+media1023()
  .vr
    height 989px
    padding 74px 0 0
    background-position right -230px top
