.vr
  height 995px
  padding 80px 0 0
  background-image url('/upload/vr-bg.jpg')
  background-size cover
  background-repeat no-repeat

  &__title
    margin-bottom 12px
    letter-spacing 0 !important
    text-align left !important

  &__subtitle
    margin-bottom 31px
    font 18px/24px 'RCR'
    color rgba(56, 60, 69, 0.7)


+media1023()
  .vr
    height 989px
    padding 74px 0 0
    background-position right -230px top

+media767()
  .vr
    position relative
    height auto
    padding 337px 0 0
    background none

    &__title
      margin-bottom 12px
      text-align center !important

    &__subtitle
      margin-bottom 31px
      font 16px/22px 'RCR'

      br
        display none

    &::before
      content ''
      display block
      position absolute
      top 0
      left 0
      width 100%
      height 337px
      background-image url('/upload/vr-bg.jpg')
      background-size cover
      background-repeat no-repeat


    &__container
      position relative
      padding 30px 15px 40px !important
      background-color #f3f5f5

      .form
        margin 0 auto

      &::before
        content ''
        display block
        position absolute
        box-sizing border-box
        top -20px
        left calc(50% - 16px)
        width 32px
        height 20px
        border-style solid
        border-width 0 16px 20px 16px
        border-color transparent transparent #f3f5f5 transparent

    &__title
      margin-bottom 6px

    &__subtitle
      margin-bottom 24px
      font 16px/22px 'RCR'
      text-align center
